@model ProjectCommitment

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.10.1/polyfill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.8.0/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<a type="button" class="btn p-1 btn-outline-secondary" href="/Project/Create">
    <img title="Nuevo" style="width:24px;cursor:pointer;" src="~/img/add.png" />
    Nuevo
</a>
<a type="button" class="btn p-1 btn-outline-secondary" href="/Project/Index">
    <img title="Listado" style="width:24px;cursor:pointer;" src="~/img/list.png" />
    Listado
</a>

<div class="p-3" style='font-size:14px'>
    <div class="h3">Compromisos</div>
    <partial name="_ProjectInfo" model="Model.Project" />
    <div class="p-3">
        @(Html.DevExtreme().DataGrid<Bisopi___Proyectos.Models.ProjectCommitment>()
            .ID("gridContainer")
            .AllowColumnReordering(true)
            .RowAlternationEnabled(true)
            .AllowColumnResizing(true)
            .ShowRowLines(true)
            .ShowBorders(true)
            .WordWrapEnabled(true)
            .ColumnAutoWidth(true)
            .ColumnResizingMode(ColumnResizingMode.Widget)
            .SearchPanel(s => s
            .Visible(true)
            .HighlightCaseSensitive(true))
            .Grouping(grouping => grouping.AutoExpandAll(true))
            .GroupPanel(groupPanel => groupPanel.Visible(true))
            .FilterPanel(f => f.Visible(true))
            .HeaderFilter(h => h.Visible(true))
            .Selection(s => s.Mode(SelectionMode.Multiple))
            .Export(e => e.Enabled(true).AllowExportSelectedData(true))
            .OnExporting("exporting")
            .RemoteOperations(true)
            .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual))
            .DataSource(ds => ds.Mvc()
                .LoadParams(new { id = Model.ProjectID })
                .Controller("APIProjectCommitments")
                .LoadAction("Get")
                .UpdateAction("Put")
                .DeleteAction("Delete")
                .Key("ProjectCommitmentID")
            )
            .OnInitNewRow(@<text>
                function(e) {
                e.data.ProjectID = $('.ProjectID').val();
                }
            </text>)
            .RemoteOperations(true)
            .Columns(columns => {

                columns.Add()
                .Type(GridCommandColumnType.Buttons)
                .Width(110)
                .Buttons(b =>
                {
                    b.Add().Name(GridColumnButtonName.Edit);
                    b.Add().Name(GridColumnButtonName.Delete);
                });

                columns.AddFor(m => m.CommitmentNumber);

                columns.AddFor(m => m.ProjectCommitmentName);

                columns.AddFor(m => m.Responsible);

                columns.AddFor(m => m.PlannedDate);

                columns.AddFor(m => m.TaskStatusID).Lookup(lookup => lookup
                .DataSource(ds => ds.WebApi().Controller("APIProjectCommitments").LoadAction("ProjectTaskStatusLookup").Key("Value"))
                .ValueExpr("Value")
                .DisplayExpr("Text")
                );

                columns.AddFor(m => m.CreatedBy);

                columns.AddFor(m => m.Created);

                columns.AddFor(m => m.ModifiedBy);

                columns.AddFor(m => m.Modified);
            })
            .Editing(e => e
                .AllowUpdating(true)
                .AllowDeleting(true)
                .Mode(GridEditMode.Popup)
                .UseIcons(true)
            )
        )
    </div>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#ModalCompromiso" name="openTarea" id="openTarea">Agregar Compromiso</button>
    <button id="cancel" name='cancel' type="submit" class="btn btn-dark">Cancelar</button>
</div>
@using (Html.BeginForm("Commitment", "Project", FormMethod.Post))
{
    @using (Html.DevExtreme().ValidationGroup())
    {
        @Html.HiddenFor(x => x.ProjectID, new { @class = "ProjectID" })
                <!-- Modal -->
        <div class="modal fade" id="ModalCompromiso" tabindex="-1" data-backdrop="static" data-keyboard="true" role="dialog" aria-labelledby="ModalCompromiso" aria-hidden="true">
            <div class="modal-dialog modal-lg" style='font-size:14px'>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tareaModalLabel">Agregar Compromiso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="dx-field">
                                        <div class="dx-field-item-label-location-top">@Html.LabelFor(x => x.ProjectCommitmentName)
                                            @if (ViewData.ModelMetadata.Properties.FirstOrDefault(p => p.PropertyName == nameof(Model.ProjectCommitmentName)).IsRequired)
                                            {
                                                <span style="color: red;">*</span>
                                            }
                                        </div>
                                        <div class="dx-field-item-content-location-bottom">
                                            @(Html.DevExtreme().TextAreaFor(x => x.ProjectCommitmentName)
                                                .ID("ProjectCommitmentName")
                                                .Placeholder("Escriba el compromiso")
                                                .AutoResizeEnabled(true)
                                                )
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="dx-field">
                                        <div class="dx-field-item-label-location-top">@Html.LabelFor(x => x.CommitmentNumber)
                                            @if (ViewData.ModelMetadata.Properties.FirstOrDefault(p => p.PropertyName == nameof(Model.CommitmentNumber)).IsRequired)
                                            {
                                                <span style="color: red;">*</span>
                                            }
                                        </div>
                                        <div class="dx-field-item-content-location-bottom">
                                            @(Html.DevExtreme().NumberBoxFor(x => x.CommitmentNumber)
                                                .ID("CommitmentNumber")
                                                .Placeholder("Escriba el numero del compromiso")
                                                .InputAttr("aria-label", "Currency Format")
                                                )
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <div class="dx-field">
                                    <div class="dx-field-item-label-location-top">@Html.LabelFor(x => x.Responsible)
                                        @if (ViewData.ModelMetadata.Properties.FirstOrDefault(p => p.PropertyName == nameof(Model.Responsible)).IsRequired)
                                        {
                                            <span style="color: red;">*</span>
                                        }
                                    </div>
                                    <div class="dx-field-item-content-location-bottom">
                                        @(Html.DevExtreme().TextBoxFor(x => x.Responsible).ID("Responsible"))
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="dx-field">
                                    <div class="dx-field-item-label-location-top">@Html.LabelFor(x => x.TaskStatusID)
                                        @if (ViewData.ModelMetadata.Properties.FirstOrDefault(p => p.PropertyName == nameof(Model.TaskStatusID)).IsRequired)
                                        {
                                            <span style="color: red;">*</span>
                                        }
                                    </div>
                                    <div class="dx-field-item-content-location-bottom">
                                        @(Html.DevExtreme().SelectBoxFor(x => x.TaskStatusID)
                                            .DisplayExpr("Text")
                                            .ValueExpr("Value")
                                            .DataSource(ds => ds.Mvc().Controller("APIProjectTasks").LoadAction("ProjectTaskStatusLookup").Key("Value"))
                                            .ID("TaskStatusID")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="dx-field">
                                    <div class="dx-field-item-label-location-top">@Html.LabelFor(x => x.PlannedDate)
                                        @if (ViewData.ModelMetadata.Properties.FirstOrDefault(p => p.PropertyName == nameof(Model.PlannedDate)).IsRequired)
                                        {
                                            <span style="color: red;">*</span>
                                        }
                                    </div>
                                    <div class="dx-field-item-content-location-bottom">
                                        @(Html.DevExtreme().DateBoxFor(x => x.PlannedDate)
                                            .InputAttr("aria-label", "Date")
                                            .Type(DateBoxType.Date)
                                            .Value("")
                                            .ID("PlannedDate")
                                            )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="id_proyecto_tarea" name="id_proyecto_tarea" value="">
                        <input type="hidden" id="cod_proyecto" name="cod_proyecto" value="">
                @(Html.DevExtreme().Button()
                        .ElementAttr("class", "validate")
                        .Text("Guardar")
                        .Type(ButtonType.Success)
                        .UseSubmitBehavior(true)
                        )
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
<script>
    DevExpress.config({
        editorStylingMode: "filled"
    });

    $("#cancel").click(function () {
        history.back();
        return false;
    });

    function exporting(e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('ListaProyectos');

        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true
        }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Proyectos.xlsx');
            });
        });
        e.cancel = true;
    }
</script>