@model ResourcePlanning

<a type="button" class="btn p-1 btn-outline-secondary" href="/Project/Create">
    <img title="Nuevo" style="width:24px;cursor:pointer;" src="~/img/add.png" />
    Nuevo
</a>
<a type="button" class="btn p-1 btn-outline-secondary" href="/Project/Index">
    <img title="Listado" style="width:24px;cursor:pointer;" src="~/img/list.png" />
    Listado
</a>

<div class="p-3" style='font-size:14px'>
    <div class="h3">Planificacion de Recursos</div>
    <partial name="_ProjectInfo" model="Model.Project" />
    <div class="p-3">
        @(Html.DevExtreme().DataGrid<Bisopi___Proyectos.Models.ResourcePlanning>()
            .ID("gridContainer2")
            .AllowColumnReordering(true)
            .RowAlternationEnabled(true)
            .AllowColumnResizing(true)
            .ShowRowLines(true)
            .ShowBorders(true)
            .WordWrapEnabled(true)
            .ColumnAutoWidth(true)
            .ColumnResizingMode(ColumnResizingMode.Widget)
            .SearchPanel(s => s
            .Visible(true)
            .HighlightCaseSensitive(true))
            .Grouping(grouping => grouping.AutoExpandAll(true))
            .GroupPanel(groupPanel => groupPanel.Visible(true))
            .FilterPanel(f => f.Visible(true))
            .HeaderFilter(h => h.Visible(true))
            .Selection(s => s.Mode(SelectionMode.Multiple))
            .RemoteOperations(true)
            .DataSource(ds => ds.Mvc()
            .LoadParams(new { id = Model.ProjectID })
            .Controller("APIResourcePlannings")
            .LoadAction("Get")
            .UpdateAction("Put")
            .DeleteAction("Delete")
            .Key("ResourcePlanningID")
            )
            .OnInitNewRow(@<text>
                function(e) {
                e.data.ProjectID = $('.ProjectID').val();
                }
            </text>)
            .RemoteOperations(true)
            .Columns(columns =>
            {

                columns.AddFor(m => m.ResourceID)
                .Lookup(x => x.DataSource(d => d.Mvc().Controller("APIUsers").LoadAction("GetUsers"))
                .DisplayExpr("FirstNameAndLastNAme")
                .ValueExpr("UserDataID"));

                columns.AddFor(m => m.PositionID)
                .Lookup(x => x.DataSource(d => d.Mvc().Controller("APIUsers").LoadAction("GetRoles"))
                .DisplayExpr("Name")
                .ValueExpr("RolesDataID"));

                columns.AddFor(m => m.PlannedHours);

                columns.AddFor(m => m.EtcHour);

            })
            .Editing(e => e
            .AllowUpdating(true)
            .AllowDeleting(true)
            .Mode(GridEditMode.Popup)
            )
            )
    </div>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#ModalHito" name="openTarea" id="openTarea">Agregar Planificacion</button>
    <button id="cancel" name='cancel' type="submit" class="btn btn-dark">Cancelar</button>
</div>

@using (Html.BeginForm("Project", "ResourcePlanning", FormMethod.Post))
{
    @using (Html.DevExtreme().ValidationGroup())
    {
        @Html.HiddenFor(x => x.ProjectID, new { @class = "ProjectID" })
        @Html.HiddenFor(x => x.DealID, new { @class = "DealID" })
        <!-- Modal -->
        <div class="modal fade" id="ModalHito" tabindex="-1" data-backdrop="static" data-keyboard="true" role="dialog" aria-labelledby="ModalHito" aria-hidden="true">
            <div class="modal-dialog modal-lg" style='font-size:14px'>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tareaModalLabel">Agregar Planificacion de Recursos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="dx-field">
                                        <div class="dx-field-item-label-location-top">@Html.LabelFor(x => x.ResourceID)</div>
                                        <div class="dx-field-item-content-location-bottom">
                                            @(Html.DevExtreme().SelectBoxFor(x => x.ResourceID)
                                                .DataSource(d => d.Mvc().Controller("APIUsers").LoadAction("GetUsers").Key("ResourceID"))
                                                .DisplayExpr("FirstNameAndLastNAme")
                                                .ValueExpr("UserDataID")
                                                .SearchMode(DropDownSearchMode.Contains)
                                                .SearchEnabled(true)
                                                .MinSearchLength(3)
                                                .ShowDataBeforeSearch(true)
                                                .ShowDropDownButton(true)
                                                .DeferRendering(false)
                                                .Placeholder("Seleccione un usuario...")
                                                )
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="dx-field">
                                        <div class="dx-field-item-label-location-top">@Html.LabelFor(x => x.PositionID)</div>
                                        <div class="dx-field-item-content-location-bottom">
                                            @(Html.DevExtreme().SelectBoxFor(x => x.PositionID)
                                                .DataSource(d => d.Mvc().Controller("APIUsers").LoadAction("GetRoles").Key("PositionID"))
                                                .DisplayExpr("Name")
                                                .ValueExpr("RolesDataID")
                                                .SearchMode(DropDownSearchMode.Contains)
                                                .SearchEnabled(true)
                                                .MinSearchLength(3)
                                                .ShowDataBeforeSearch(true)
                                                .ShowDropDownButton(true)
                                                .DeferRendering(false)
                                                .Placeholder("Seleccione un cargo...")
                                                )
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="dx-field">
                                        <div class="dx-field-item-label-location-top">@Html.LabelFor(x => x.PlannedHours)</div>
                                        <div class="dx-field-item-content-location-bottom">
                                            @(Html.DevExtreme().NumberBoxFor(x => x.PlannedHours)
                                                .ID("PlannedHours")
                                                .Placeholder("Escriba las horas planeadas")
                                                .InputAttr("aria-label", "Currency Format")
                                                )
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="dx-field">
                                        <div class="dx-field-item-label-location-top">@Html.LabelFor(x => x.EtcHour)</div>
                                        <div class="dx-field-item-content-location-bottom">
                                            @(Html.DevExtreme().NumberBoxFor(x => x.EtcHour)
                                                .ID("VaEtcHourlue")
                                                .Placeholder("Escriba las horas etc")
                                                .InputAttr("aria-label", "Currency Format")
                                                )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="id_proyecto_tarea" name="id_proyecto_tarea" value="">
                        <input type="hidden" id="cod_proyecto" name="cod_proyecto" value="">
                        @(Html.DevExtreme().Button()
                            .ElementAttr("class", "validate")
                            .Text("Guardar")
                            .Type(ButtonType.Success)
                            .UseSubmitBehavior(true)
                            )
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script>
    DevExpress.config({
        editorStylingMode: "filled"
    });

    $("#cancel").click(function () {
        history.back();
        return false;
    });
</script>