
<h2>Configuraciones</h2>

<div class="container-fluid p-0">
    <div class="row no-gutters p-0 d-flex justify-content-center align-items-center">
        <a href="@Url.Action("Countries", "Setup")" class="btn btn-primary configuracion white col-12 col-sm-3 mb-3 mr-3 p-3">Paises</a>
        <a href="@Url.Action("Clients", "Setup")" class="btn btn-primary configuracion white col-12 col-sm-3 mb-3 mr-3 p-3">Clientes</a>
        <a href="@Url.Action("ProjectsStatus", "Setup")" class="btn btn-primary  configuracion white col-12 col-sm-3 mb-3 mr-3 p-3">Estados Proyectos</a>
    </div>
    <div class="row no-gutters p-0 d-flex justify-content-center align-items-center">
        <a href="@Url.Action("ProjectsTypes", "Setup")" class="btn btn-primary configuracion white col-12 col-sm-3 mb-3 mr-3 p-3">Tipos Proyectos</a>
        <a href="@Url.Action("SupportsStatus", "Setup")" class="btn btn-primary configuracion white col-12 col-sm-3 mb-3 mr-3 p-3">Estados Soportes</a>
        <a href="@Url.Action("Currencies", "Setup")" class="btn btn-primary  configuracion white col-12 col-sm-3 mb-3 mr-3 p-3">Monedas</a>
    </div>


</div>